.slider-container {
	width:50%;
    position: relative;
    overflow: hidden;
}
.slider-container ul{
	list-style: none;
}
.slider-container ul li{
    float: left;
}
slider-container ul li img{
    width: 100%;
}
.nav-button img{
	width: 100%
}
.nav-button {
	width:5%;
    position: absolute;
    top: 45%;
    z-index: 9;
}
.left-button {
	left:6%;
}
.right-button {
	right: 0%;
}
