/*webframe desktop layout starts form here*/
/*########################################
##########################################*/
/*---------------container----------------------*/
.webframe-container{
    clear: both;
    width:100%;
    position: relative;
}
/*---------------single column----------------------*/
.webframe-double-col{
    clear: both;
    width:100%;
    position: relative;
}
.webframe-double-col .double-col-child{
    width: 100%;
}
/*---------------double columns----------------------*/
.webframe-double-col{
    clear: both;
    width:100%;
    position: relative;
}
.webframe-double-col .double-col-child{
    width: 50%;
    float: left;
}
/*---------------triple columns----------------------*/
.webframe-triple-col{
    clear: both;
    width:33.28%;
    position: relative;
}
.webframe-triple-col .triple-col-child{
    width: 50%;
    float: left;
}
/*---------------quad columns----------------------*/
.webframe-quad-col{
    clear: both;
    width:100%;
    position: relative;
}
.webframe-quad-col .quad-col-child{
    width: 25%;
    float: left;
}
/*---------------penta columns----------------------*/
.webframe-penta-col{
    clear: both;
    width:100%;
    position: relative;
}
.webframe-penta-col .penta-col-child{
    width: 20%;
    float: left;
}
/*************************************************************/
/*---------------1*1----------------------*/
.webframe-single-row-single-col{
    clear: both;
    width:100%;
    position:relative;
}
.webframe-single-row-single-col .single-row-single-col-child{
    width: 100%;
    font-size: 100%;
}
/*---------------1*2----------------------*/
.webframe-single-row-double-col{
    clear: both;
    width:100%;
    position: relative;
}
.webframe-single-row-double-col .single-row-double-col-child{
    width: 50%;
    float: left;
}
/*---------------1*3----------------------*/
.webframe-single-row-triple-col{
    clear: both;
    width:100%;
    position: relative;
}
.webframe-single-row-triple-col .single-row-triple-col-child{
    width: 33.28%;
    float: left;
}
/*---------------1*4----------------------*/
.webframe-single-row-quad-col{
    clear: both;
    width:100%;
    /*position: relative;*/
}
.webframe-single-row-quad-col .single-row-quad-col-child{
    width: 25%;
    float: left;
}
/*---------------1*5----------------------*/
.webframe-single-row-penta-col{
    clear: both;
    width:100%;
    position: relative;
}
.webframe-single-row-penta-col .single-row-penta-col-child{
    width: 20%;
    float: left;
}
/******************************************************************/
/*---------------2*1----------------------*/
.webframe-double-row-single-col{
    clear: both;
    width:100%;
    position:relative;
}
.webframe-double-row-single-col .double-row-single-col-child{
    width: 100%;
}
/*---------------3*1----------------------*/
.webframe-triple-row-single-col{
    clear: both;
    width:100%;
    position:relative;
}
.webframe-triple-row-single-col .triple-row-single-col-child{
    width: 100%;
}
/*---------------4*1----------------------*/
.webframe-quad-row-single-col{
    clear: both;
    width:100%;
    position:relative;
}
.webframe-quad-row-single-col .quad-row-single-col-child{
    width: 100%;
}
/*---------------5*1----------------------*/
.webframe-penta-row-single-col{
    clear: both;
    width:100%;
    clear: both;
    position:relative;
}
.webframe-penta-row-single-col .penta-row-single-col-child{
    width: 100%;
}
/******************************************************************/
/*---------------2*2----------------------*/
.webframe-double-row-double-col{
    clear: both;
    width:100%;
    position:relative;
}
.webframe-double-row-double-col .double-row-double-col-child{
    width: 50%;
    float: left;
}
/*---------------3*3----------------------*/
.webframe-triple-row-triple-col{
    clear: both;
    width:100%;
    position:relative;
}
.webframe-triple-row-triple-col .triple-row-triple-col-child{
    width: 33.28%;
    float: left;
}
/*---------------4*4----------------------*/
.webframe-quad-row-quad-col{
    clear: both;
    width:100%;
    position:relative;
}
.webframe-quad-row-quad-col .quad-row-quad-col-child{
    width: 25%;
    float: left;
}
/*---------------5*5----------------------*/
.webframe-penta-row-penta-col{
    clear: both;
    width:100%;
    position:relative;
}
.webframe-penta-row-penta-col .penta-row-penta-col-child{
    width: 20%;
    float: left;
}
/*------------------webframe slider starts from here----------------*/
.webframe-slider-container{
    width:100%;
    position: relative;
}
.webframe-slider-container .webframe-slider{
    width:100%;
    overflow-y: hidden;
}
.webframe-slider-container .webframe-slider .webframe-slide{
    width:100%;
    float: left;
    display: none;
}
.webframe-slider-container .webframe-slider .webframe-slide img{
    width:100%;
}
/*------------------webframe slider ends here-----------------------*/
/*webframe desktop layout ends here ######*/
/*#########################################
##########################################*/
/*----------------webframe effects---------------*/
/*---------------------Newspaper------------------------------------------------*/
.webframe-effect-newspaper{
    transition: box-shadow 1s, transform 2s;
    -webkit-transition: -webkit-box-shadow 1s, -webkit-transform 2s;
    -moz-transition: -moz-box-shadow 1s, -moz-transform 2s;
    -o-transition: -o-box-shadow 1s, -o-transform 2s;
}
.webframe-effect-newspaper:hover{
    box-shadow: 0 0 10px #88f;
    -webkit-box-shadow: 0 0 10px #88f;
    -moz-box-shadow: 0 0 10px #88f;
    -o-box-shadow: 0 0 10px #88f;
    transform: scale(1.02,1.03) rotate(360deg);
    -webkit-transform: scale(1.2,1.3) rotate(360deg);
    -moz-transform: scale(1.02,1.03) rotate(360deg);
    -o-transform: scale(1.02,1.03) rotate(360deg);
}
/*---------------------Highlight------------------------------------------------*/
.webframe-effect-highlight{
    transition: box-shadow 0.2s, transform 0.1s;
    -webkit-transition: -webkit-box-shadow 0.2s, -webkit-transform 0.1s;
    -moz-transition: -moz-box-shadow 0.2s, -moz-transform 0.1s;
    -o-transition: -o-box-shadow 0.2s, -o-transform 0.5s;
}
.webframe-effect-highlight:hover{
    box-shadow: 0 0 10px #88f;
    -webkit-box-shadow: 0 0 10px #88f;
    -moz-box-shadow: 0 0 10px #33f;
    -o-box-shadow: 0 0 10px #88f;
    transform: scale(1.02,1.03);
    -webkit-transform: scale(1.02,1.03);
    -moz-transform: scale(1.02,1.03);
    -o-transform: scale(1.02,1.03);
}
/*---------------------rollover veritcal------------------------------------------------*/
.webframe-effect-rollover-vertical{    
    transition: box-shadow 1s, transform 1s;
    -webkit-transition: -webkit-box-shadow 1s, -webkit-transform 1s;
    -moz-transition: -moz-box-shadow 1s, -moz-transform 1s;
    -o-transition: -o-box-shadow 1s, -o-transform 1s;
}
.webframe-effect-rollover-vertical:hover{
    box-shadow: 0 0 10px #88f;
    -webkit-box-shadow: 0 0 10px #88f;
    -moz-box-shadow: 0 0 10px #88f;
    -o-box-shadow: 0 0 10px #88f;
    transform: scale(1.02,1.03) rotateX(360deg);
    -webkit-transform: scale(1.02,1.03) rotateX(360deg);
    -moz-transform: scale(1.02,1.03) rotateX(360deg);
    -o-transform: scale(1.02,1.03) rotateX(360deg);
}
/*---------------------rollover horizontal------------------------------------------------*/
.webframe-effect-rollover-horizontal{    
    transition: box-shadow 1s, transform 1s;
    -webkit-transition: -webkit-box-shadow 1s, -webkit-transform 1s;
    -moz-transition: -moz-box-shadow 1s, -moz-transform 1s;
    -o-transition: -o-box-shadow 1s, -o-transform 1s;
}
.webframe-effect-rollover-horizontal:hover{
    box-shadow: 0 0 10px #88f;
    -webkit-box-shadow: 0 0 10px #88f;
    -moz-box-shadow: 0 0 10px #88f;
    -o-box-shadow: 0 0 10px #88f;
    transform: scale(1.02,1.03) rotateY(360deg);
    -webkit-transform: scale(1.02,1.03) rotateY(360deg);
    -moz-transform: scale(1.02,1.03) rotateY(360deg);
    -o-transform: scale(1.02,1.03) rotateY(360deg);
}
/*------------------------------------------------------------------------------*/

.webframe-effect-image-imagesize
{    
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.webframe-effect-image-imagesize:hover
{
    -webkit-transform:scale(1.2);
    -mos-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
/*------------------------------------------------------------------------------*/

.webframe-effect-image-zoomin img:hover
{
    -webkit-transform:scale(1.3);
    -mos-transform:scale(1.3);
    -o-transform:scale(1.3);
    transform:scale(1.3);
}

.webframe-effect-image-zoomin
{
    overflow:hidden;    
}

.webframe-effect-image-zoomin img
{
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
/*------------------------------------------------------------------------------*/

.webframe-effect-image-zoomout img:hover
{
    -webkit-transform:scale(1);
    -mos-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}

.webframe-effect-image-zoomout
{
    overflow:hidden;    
}

.webframe-effect-image-zoomout img
{
    -webkit-transform:scale(1.3);
    -mos-transform:scale(1.3);
    -o-transform:scale(1.3);
    transform:scale(1.3);
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

/*------------------------------------------------------------------------------*/

.webframe-effect-border-shadow img:hover
{
    /*width: 80%;*/
    border-radius:50%;
    box-shadow: 0 10px 6px -6px grey;
}

.webframe-effect-border-shadow img
{
    -webkit-transition: all 0.7s ease, width;
    -mos-transition: all 0.7s ease, width;
    -o-transition: all 0.7s ease, width;
    transition: all 0.7s ease, width;
    /*width: 100%;*/    
}
/*------------------------------------------------------------------------------*/

.webframe-effect-image-distortion img:hover
{    
    border-top-left-radius: 120px; 
    border-bottom-right-radius: 120px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.webframe-effect-image-distortion img
{    
    border-bottom-left-radius: 120px;
    border-top-right-radius: 120px; 
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px; 
    -webkit-transition: all 0.7s ease, border;
    -mos-transition: all 0.7s ease, border;
    -o-transition: all 0.7s ease, border;
    transition: all 0.7s ease, border;
}
/*------------------------------------------------------------------------------*/

.webframe-effect-image-distortion2 img:hover
{
    border-top-left-radius: 30px 120px; 
    border-bottom-right-radius: 30px 120px;
    border-bottom-left-radius: 15px; 
    border-top-right-radius: 15px;
}

.webframe-effect-image-distortion2 img
{
    border-top-left-radius: 15px; 
    border-top-right-radius: 120px 30px; 
    border-bottom-left-radius: 120px 30px;
    border-bottom-right-radius: 15px;
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
/*------------------------------------------------------------------------------*/

.webframe-effect-image-glowingborder img:hover
{
    -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
    -mos-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
    -o-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
    box-shadow: 0px 0px 15px 10px rgba(200, 165, 230, .55);
}

.webframe-effect-image-glowingborder img
{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75);
    -mos-box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75);
    -o-box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75);
    box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75);
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

/*------------------------------------------------------------------------------*/

.webframe-effect-image-rotation2d img:hover
{
    -webkit-transform: rotate(45deg);
    -mos-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.webframe-effect-image-rotation2d img
{
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
/*------------------------------------------------------------------------------*/

.webframe-effect-image-skew img:hover
{
    -webkit-transform: skew(0deg,20deg);
    -mos-transform: skew(0deg,20deg);
    -o-transform: skew(0deg,20deg);
    transform: skew(0deg,20deg);
}

.webframe-effect-image-skew img
{
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
/*------------------------------------------------------------------------------*/

.webframe-effect-image-translateopacity img:hover
{
    -webkit-transform: translate(20px,-50px);
    -mos-transform: translate(20px,-50px);
    -o-transform: translate(20px,-50px);
    transform: translate(20px,-50px);
    opacity: 0.4;
}

.webframe-effect-image-translateopacity img
{
    opacity: 1;
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
/*------------------------------------------------------------------------------*/

.webframe-effect-div-flip:hover img
{
    -webkit-transform: rotateY(180deg);
    -mos-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -mos-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.webframe-effect-div-flip img
{
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
/*------------------------------------------------------------------------------*/

.carddiv
{
    /*width:100%; height:150px;*/ position:relative;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 100% 75px;
    -webkit-transition: all 0.7s ease;
    -mos-transform-style: preserve-3d;
    -mos-transform-origin: 100% 75px;
    -mos-transition: all 0.7s ease;
    -o-transform-style: preserve-3d;
    -o-transform-origin: 100% 75px;
    -o-transition: all 0.7s ease;
    transform-style: preserve-3d;
    transform-origin: 100% 75px;
    transition: all 0.7s ease;
}

.webframe-effect-div-verticalcardflip:hover.carddiv
{
    -webkit-transform: rotateX(-180deg);
    -mos-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.frontofcard, .backofcard
{
    /*width:100%; height:150px;*/ position:absolute; left:0; 
    -webkit-backface-visibility:hidden;
    -mos-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
}

.backofcard
{
    padding-top:50px;
    -webkit-transform: rotateX(180deg);
    -mos-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
/*------------------------------------------------------------------------------*/
.webframe-effect-image-transformation:hover img
{
    -webkit-box-shadow: 0px 0px 15px 15px #fff;
    -mos-box-shadow: 0px 0px 15px 15px #fff;
    -o-box-shadow: 0px 0px 15px 15px #fff;
    box-shadow: 0px 0px 15px 15px blue;
    border-radius:50%;
    opacity: 0.6;
    -webkit-transform: rotate(720deg);
    -mos-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
}

.webframe-effect-image-transformation img
{
    opacity: 1;
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
/*------------------------------------------------------------------------------*/

.webframe-effect-div-text3d:hover
{
    text-shadow: 0 1px 0 #666,
    0 2px 0 #555,
    1px 3px 0 #444,
    2px 4px 0 #333,
    3px 5px 0 #222,
    4px 6px 1px #111,
    0 0 5px rgba(0,0,0,.6),
    0 1px 3px rgba(0,0,0,.5),
    1px 3px 5px rgba(0,0,0,.4),
    3px 5px 10px rgba(0,0,0,.3),
    5px 10px 10px rgba(0,0,0,.2),
    10px 20px 20px rgba(0,0,0,.1);
}

.webframe-effect-div-text3d
{
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
/*------------------------------------------------------------------------------*/

.webframe-effect-div-textblur:hover
{
    color: rgba(0,0,0,0);
    text-shadow: 0 0 20px black;
}

.webframe-effect-div-textblur
{
    color: black;
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
/*------------------------------------------------------------------------------*/

.webframe-effect-div-textglowing:hover
{
    text-shadow: 0px 0 15px black;
}

.webframe-effect-div-textglowing
{
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

/*------------------------------------------------------------------------------*/

.webframe-effect-div-textfadeeffect
{
    position: relative;
}

.textbox2:hover
{
    opacity: 1;
    color: white;    
}

.text2
{
    /*padding: 5% 0px 0px 5%;*/
    /*margin: 15% 0px 0px 15%;*/
    text-align: center;
    padding-top: 25%;
    font-size: 1.4em;
    font-family: sans-serif;
}
.textbox2
{
    width:59%;
    min-height: 167px;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    border-radius:5px;
    background-color: rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
    -mos-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
    -o-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
    box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
/*------------------------------------------------------------------------------*/

.webframe-effect-div-textscaleeffect
{
    position:relative;
}

.webframe-effect-div-textscaleeffect .textbox
{
    /*height:150px;*/
    position:absolute;
    top:0;
    left:0;
    -webkit-transform: scale(0);
    -mos-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    border-radius:5px;
    background-color: rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
    -mos-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
    -o-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
    box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
}

.webframe-effect-div-textscaleeffect:hover .textbox
{
    -webkit-transform: scale(1);
    -mos-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.text3
{
    padding-top: 50px;
}

.textbox3
{
    -webkit-transition: all 0.7s ease;
    -mos-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}







